### Milestone 5: Recommendation Engine & API Prototype

In [1]:
# Cell 1: Imports & data load for Recommendation Engine (Milestone 5)

import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

print("Imports loaded")

try:
    DATA_PATH = "C://Users//Rachit//OneDrive//Documents//CreditPathAI//data//processed//final_features.csv"
    
    df = pd.read_csv(DATA_PATH)
    df.columns = df.columns.str.upper()
    
    # Light sampling for system safety
    if len(df) > 30000:
        df = df.sample(30000, random_state=42)

    if "TARGET" not in df.columns:
        raise ValueError("TARGET column missing")

    print("Data loaded successfully")
    print("Shape:", df.shape)

    display(df.head())

except Exception as e:
    print("Data loading error:", e)

Imports loaded
Data loaded successfully
Shape: (30000, 130)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,CREDIT_ACTIVE,CREDIT_TYPE,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,BB_MONTH_BAL_MEAN,BB_STATUS_COUNT
245895,384575,0,Cash loans,M,Y,N,2,207000.0,465457.5,52641.0,...,0.0,1.0,2.0,2.0,970276.50,276988.5,27000.0,0.0,-26.571429,2.000000
98194,214010,0,Cash loans,F,Y,Y,0,247500.0,1281712.5,48946.5,...,0.0,3.0,2.0,2.0,4330867.50,0.0,0.0,0.0,NaN,NaN
36463,142232,0,Cash loans,F,Y,N,0,202500.0,495000.0,39109.5,...,0.0,3.0,2.0,2.0,2804085.00,1431166.5,0.0,0.0,-18.250000,2.833333
249923,389171,0,Cash loans,F,N,Y,0,247500.0,254700.0,24939.0,...,0.0,0.0,1.0,1.0,252517.05,0.0,0.0,0.0,NaN,NaN
158389,283617,0,Cash loans,M,N,Y,0,112500.0,308133.0,15862.5,...,0.0,4.0,2.0,1.0,1360575.00,487476.0,0.0,0.0,NaN,NaN

In [2]:
# Cell 2: Create risk scores & risk bands

try:
    np.random.seed(42)

    # Simulated risk score (later replaced by model/API)
    df["RISK_SCORE"] = np.random.uniform(0, 1, size=len(df))

    # Risk banding logic
    def assign_risk_band(score):
        if score < 0.3:
            return "Low Risk"
        elif score < 0.6:
            return "Medium Risk"
        else:
            return "High Risk"

    df["RISK_BAND"] = df["RISK_SCORE"].apply(assign_risk_band)

    print("Risk scoring & banding completed")
    display(df[["RISK_SCORE", "RISK_BAND"]].head())

    print(df["RISK_BAND"].value_counts())

except Exception as e:
    print("Risk banding error:", e)

Risk scoring & banding completed

        RISK_SCORE    RISK_BAND
245895    0.374540  Medium Risk
98194     0.950714    High Risk
36463     0.731994    High Risk
249923    0.598658  Medium Risk
158389    0.156019     Low Risk

RISK_BAND
High Risk      11974
Medium Risk     9069
Low Risk        8957
Name: count, dtype: int64

In [3]:
# Cell 3: Recommendation Engine Logic

try:
    def recommend_action(risk_band):
        if risk_band == "Low Risk":
            return "No action required. Customer is stable."
        elif risk_band == "Medium Risk":
            return "Send reminder notification and monitor closely."
        elif risk_band == "High Risk":
            return "Initiate recovery call and restructure repayment."
        else:
            return "Review manually."

    df["RECOMMENDED_ACTION"] = df["RISK_BAND"].apply(recommend_action)

    print("Recommendation engine applied successfully")

    display(
        df[["RISK_BAND", "RECOMMENDED_ACTION"]]
        .value_counts()
        .reset_index(name="COUNT")
    )

except Exception as e:
    print("Recommendation engine error:", e)

Recommendation engine applied successfully

     RISK_BAND                                 RECOMMENDED_ACTION  COUNT
0    High Risk  Initiate recovery call and restructure repayment.  11974
1  Medium Risk    Send reminder notification and monitor closely.   9069
2     Low Risk            No action required. Customer is stable.   8957

##### “Based on the borrower’s risk category, the system automatically suggests the next best recovery action for agents.”

In [4]:
# Cell 4: Recommendation validation & sample view

try:
    sample_view = df[
        ["SK_ID_CURR", "RISK_SCORE", "RISK_BAND", "RECOMMENDED_ACTION"]
    ].sample(10, random_state=42)

    print("Sample borrower recommendations:")
    display(sample_view)

    print("\nRisk-wise action distribution:")
    display(
        df.groupby("RISK_BAND")["RECOMMENDED_ACTION"]
        .value_counts()
        .reset_index(name="COUNT")
    )

except Exception as e:
    print("Validation error:", e)

Sample borrower recommendations:

,SK_ID_CURR,RISK_SCORE,RISK_BAND,RECOMMENDED_ACTION
97920,213696,0.113838,Low Risk,No action required. Customer is stable.
211436,345017,0.301166,Medium Risk,Send reminder notification and monitor closely.
120492,239707,0.413251,Medium Risk,Send reminder notification and monitor closely.
66779,177436,0.512661,Medium Risk,Send reminder notification and monitor closely.
262844,404350,0.607752,High Risk,Initiate recovery call and restructure repayment.
282594,427329,0.651680,High Risk,Initiate recovery call and restructure repayment.
228592,364769,0.623505,High Risk,Initiate recovery call and restructure repayment.
296703,443753,0.548933,Medium Risk,Send reminder notification and monitor closely.
231214,367806,0.508876,Medium Risk,Send reminder notification and monitor closely.
237411,374995,0.510396,Medium Risk,Send reminder notification and monitor closely.

Risk-wise action distribution:

     RISK_BAND                                 RECOMMENDED_ACTION  COUNT
0    High Risk  Initiate recovery call and restructure repayment.  11974
1     Low Risk            No action required. Customer is stable.   8957
2  Medium Risk    Send reminder notification and monitor closely.   9069

In [ ]:
# Cell 5: FastAPI Prototype 

from fastapi import FastAPI
from pydantic import BaseModel
import numpy as np

app = FastAPI(title="CreditPathAI Risk Scoring API")

# ----- Input Schema -----
class BorrowerInput(BaseModel):
    risk_score: float

# ----- Recommendation Logic -----
def assign_risk_band(score):
    if score < 0.3:
        return "Low Risk"
    elif score < 0.6:
        return "Medium Risk"
    else:
        return "High Risk"

def recommend_action(risk_band):
    if risk_band == "Low Risk":
        return "No action required. Customer is stable."
    elif risk_band == "Medium Risk":
        return "Send reminder notification and monitor closely."
    else:
        return "Initiate recovery call and restructure repayment."

# ----- API Endpoint -----
@app.post("/predict")
def predict_risk(data: BorrowerInput):
    risk_band = assign_risk_band(data.risk_score)
    action = recommend_action(risk_band)

    return {
        "risk_score": data.risk_score,
        "risk_band": risk_band,
        "recommended_action": action
    }